@import url('https://fonts.googleapis.com/css?family=Inconsolata|Ubuntu+Mono');
.App {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    background-color: seashell;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    animation: change-opacity 1s linear forwards;
}

header {
    text-align: center;
    width: 100%;
    font-size: 40px;
    background-color: #343434;
    flex-basis: 40vh;
    color: seashell;
}

.password-container {
    width: 100%;
    flex-basis: 22vh;
    text-align: center;
    display: flex;
    background-color: seashell;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.options-container {
    width: 100%;
    flex-basis: 35vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@keyframes change-opacity {
    0% {
        margin-top: -20px;
    }
    100% {
        margin-top: 0px;
    }
}

/* @media (orientation: portrait) { */

@media (max-width: 1024px) {
    .App {
        min-height: 110vh;
        justify-content: flex-start;
    }
    header {
        flex-basis: 30vh;
        font-size: 28px;
    }
    .password-container {
        flex-basis: 35vh;
    }
    .options-container {
        flex-basis: 25vh;
        max-width: 80vw;
        justify-content: space-around;
    }
}

@media (max-width: 640px) {
    header {
        flex-basis: 25vh;
        font-size: 24px;
    }
    .options-container {
      /* display: none; */
        flex-basis: 30vh;
        max-width: 60vw;
        justify-content: space-around;
    }
}